body {
	color: #FFF;
	margin-top: 20%;
	background: url("../img/bw.jpg") center top no-repeat;
	background-size: cover;
	margin-left: 30%;
}

h1 {
	font-size: 5em;
	line-height: 80%;
	margin-top: -.2em;
	margin-bottom: -.3em;
}

h3 {
	font-size: 2em;
	color: cyan;
}

div#info {
	margin-left: .5em;
}

p {


}

/*==========
Media query
==========*/

 /*  Large Desktop  */

 @media screen and (max-width: 1300px) {
  body {

    }


  }


 /*  Desktop  */

 @media screen and (max-width: 1000px) {
  body {
  	margin-left: 20%;
    }


  }

  /*  Tablet styling */

 @media screen and (max-width: 768px) {


    


}



   /*  Mobile styling  */

 @media screen and (max-width: 480px) {

body {
	margin-left: 10%;
}

 }
