html {
	width: 100%;
	height: 100%;
}
body {
	color: #FFF;
	margin-top: 15%;
	background: url("../img/bwbg.jpg") center top no-repeat #222222;
	background-size: cover;
	margin-left: 30%;
	width: 100%;
	height: 100%;
	 padding-right: 50%;

}



h1 {
	font-size: 5em;
	line-height: 80%;
	margin-top: -.2em;
	margin-bottom: -.3em;
}

h3 {
	font-size: 2em;
	color: #00CCCC;
}

div#info {
	margin-left: .5em;
	padding-right: 30%;
}

p {
	margin-top: -1em;

}

#mc_embed_signup{
	background:#fff;
	clear:left; 
	font:14px Helvetica,Arial,sans-serif; 
	color: black;
}


a#newsletter.fluid.inverted.basic.ui.button {
	margin-top: 5em;
	max-width: 418.609;
}



/*==========
Media query
==========*/

 /*  Large Desktop  */

 @media screen and (max-width: 1300px) {
  body {

    }


  }


 /*  Desktop  */

 @media screen and (max-width: 1000px) {
  body {
  	margin-left: 20%;
  	padding-right: 0%;
    }


  }

  /*  Tablet styling */

 @media screen and (max-width: 768px) {


    


}



   /*  Mobile styling  */

 @media screen and (max-width: 480px) {

body {
	margin-left: 15%;

}

 }